config control 'mqtt_sub_sct'
    option enable '0'
    option host 'test.mosquitto.org'
    option port '8885'
    option keepalive '60'
    option username 'rw'
    option password 'readwrite'
    option capath '/etc/certificates/cert.cert.pem'

config topics 'mqtt_topics_sct'
    list topic 'Advantech/DCA632A506E8/data'
    list topic 'Advantech/74FE48162C9F/update/sensor/uio_config/slot_0/ch_0'
    list topic 'Advantech/74FE48162C9F/update/sensor/uio_config/slot_0/ch_0'
    list topic 'Advantech/74FE48162C9F/update/sensor/uio_config/slot_0/ch_1'
    list topic 'Advantech/74FE48162C9F/update/sensor/uio_config/slot_0/ch_2'
    list topic 'Advantech/74FE48162C9F/update/sensor/uio_config/slot_0/ch_3'
    list topic 'Advantech/74FE484EED58/Device_Status'
    list topic 'Advantech/74FE484EED58/ctl/do1'
    list topic 'Advantech/74FE484EED58/ctl/do2'
    list topic 'Advantech/74FE484EED58/ctl/do3'
    list topic 'Advantech/74FE484EED58/ctl/do4'

config event
    option topic 'Advantech/74FE484EED58/Device_Status'
    option type '1'
    option value 'connect'
    option operator '12'
    option key 'status'
    option email '927b264d564a19'
    option password '6e683c2321cc34'
    option smtp 'smtp.mailtrap.io:2525'
    option recipient 'donatasnam@mailtrap.io'

config event
    option topic 'Advantech/74FE484EED58/Device_Status'
    option type '1'
    option value 'connect'
    option operator '12'
    option key 'status'
    option email '927b264d564a19'
    option password '6e683c2321cc34'
    option smtp 'smtp.mailtrap.io:2525'
    option recipient 'donatasnam@mailtrap.io'
