config mqtt_sub 'mqtt_sub_sct'
    option 'enable' 0
    
config mqtt_sub 'mqtt_topics_sct'
    list topic 'Advantech/DCA632A506E8/data'
    list topic 'Advantech/74FE48162C9F/update/sensor/uio_config/slot_0/ch_0'
    list topic 'Advantech/74FE48162C9F/update/sensor/uio_config/slot_0/ch_0'
    list topic 'Advantech/74FE48162C9F/update/sensor/uio_config/slot_0/ch_1'
    list topic 'Advantech/74FE48162C9F/update/sensor/uio_config/slot_0/ch_2'
    list topic 'Advantech/74FE48162C9F/update/sensor/uio_config/slot_0/ch_3'
    list topic 'Advantech/74FE484EED58/Device_Status'
    list topic 'Advantech/74FE484EED58/ctl/do1'
    list topic 'Advantech/74FE484EED58/ctl/do2'
    list topic 'Advantech/74FE484EED58/ctl/do3'
    list topic 'Advantech/74FE484EED58/ctl/do4'


